!!!
%html
  = partial 'shared/head'

  %body{:class => page_classes}
    %header
      .container
        = partial 'shared/nav'
        .title
          %a{:href => '/'} Kate Andrew
    .main
      .container
        = left_nav
        .content
          %a#top
          = yield
      .clear
    .loading_indicator

  %footer
    .container
      = partial 'shared/footer'
