---
nav: 20 Experience
---
%h1 Experience

= section 'DoubleTree by Hilton Kingston-upon-Thames'
%h3 Hotel Fitout
%h4 <strong>Completion: </strong>August 2016
%h4 <strong>Client: </strong>Private Developer
%p The building, which was only a shell, was part of a larger residential development in the greater London area and required a full fit out from scratch. Kate was involved in this project from early in the design phase. The programme was tight and needed to open just over a year later. The 146 guestroom hotel also has a conference centre, fitness centre, restaurant and bar. The hotel is a part of a larger green initiative where it’s heating and cooling is providing through water from the Thames. This led to a very specialised mechanical system being installed within the building. Kate led the project management of this fit out from design through to construction and developed significantly as a project manager with this project. There was a large project team including three separate designers, technical consultants, a number separate specialists, operators, owners and the brand.
%p To view images, please click #{link_to 'here', 'http://twenty2degrees.com/portfolio/hilton-doubletree-london/', target: :_blank}.

= section 'London Road'
%h3 New Build - Block of Flats
%h4 <strong>Completion:</strong> March 2015
%h4 <strong>Client: </strong>Private Developer
%p A new five storied block of flats (plus a basement) in west London. Kate was involved as an architectural assistant and started working on this project during the construction stage. The project being a design and build meant Kate’s involvement was varied and included developing details, elevations and layouts.
%p For more information, click #{link_to 'here', 'http://www.higgsyoung.com/project-12060-london-rd', target: :_blank}.

= section 'John Lysaght Building'
%h3 Warehouse – office conversion
%h4 <strong>Completion:</strong> November 2014
%h4 <strong>Client:</strong> Waterfront Auckland (Council Controlled Organisation)
%p The John Lysaght building was an unused factory/warehouse which has received an upgrade into an office building in the popular area of Wynyard Quarter, Auckland. While it started off as a fairly simple conversion and seismic upgrade, the challenges quickly built up once it was learnt that the ground underneath was contaminated from an old gas works in the area and the existing structural elements were found  to not be as structurally sound as expected from preliminary testing. Quick responses were necessary to gain new consents to remove the contamination and sort out the knock on effects with various services. Kate was brought into the project briefly during the tender phase and was heavily involved with the project management of the construction phase leading the day to day co-ordination with consultants and the contractor.
=gallery :lysaght, :template => 'gallery_half'

= section 'Westhaven Promenade'
%h3 Cycleway and boardwalk
%h4 <strong>Completion:</strong> September 2014
%h4 <strong>Client:</strong> Waterfront Auckland
%p The Westhaven Promenade is a long anticipated solution to the growing popularity of outdoor activity in the area. It introduces an important pedestrian link between the Auckland Harbour Bridge with Wynyard Quarter. Being both land based and water based the designers had to come up with a solution to ensure the structure could be built efficiently. Kate’s involvement in this project was from early on in the design phase which included engaging the consultants, right through to construction. Kate led the consenting, procurement and contract administration and played an important role in co-ordinating day to day issues as well as budget and variation management.
=gallery :westhaven_promenade, template: 'gallery_feature_half'

= section 'Pol Perro'
%h3 Office fit out
%h4 <strong>Completion:</strong> May 2014
%h4 <strong>Client:</strong> Waterfront Auckland & ATEED (Lessee)
%p Due to the upgrade of an adjacent street the building sat mostly empty for period of time. Kate led the project management of a new office fit out from procurement through to completion. The fit out was carried out on a tight budget as it will only to be utilised for up to 3 years until further developments are due to happen on the site. The work needed to be completed on a very short time frame and to enable this, along with gaining the necessary consents, the work had to be split into two phases.  It was successfully completed and the office space now enjoys the added bonus of the new street outside.
=gallery :pol_perro, :template => 'gallery_half'

= section 'Silo Six Pack'
%h3 Unique event space
%h4 <strong>Completion:</strong> August 2013
%h4 <strong>Client:</strong> Waterfront Auckland
%p The ‘Six-Pack Silos’ were old cement silos and have been refurbished to make them into a unique function space. Kate led the project management for the refurbishment. In particular, she has managed the design and installation of new lighting and rigging systems to help light the silos and create a functional space for events to use. A new accessible entrance and emergency upgrade was also undertaken as part of the works.
=gallery :six_pack, :template => 'gallery_half'

= section 'Tasti Products'
%h3 Office and amenities building
%h4 Completion July 2013
%h4 <strong>Client:</strong> Tasti Products
%p This project started in 2008 and gained building consent before being put on hold for a number of years. The new building was for staff and factory workers and was highly anticipated as the company expanded the staff had inhabited a number of Portacoms. This project was picked back up and Kate had involvement with the project management of the redesign, tender and construction phases. This project has been built in stages as staff and workers still needed to operate on site. The result has produced an environment that the kiwi company can be proud of and grow into.
=gallery :tasti

= section 'Shed 10'
%h3 Heritage building refurbishment
%h4 <strong>Completion:</strong> July 2013
%h4 <strong>Client:</strong> Waterfront Auckland
%p Shed 10 is a heritage building on Queens Wharf in downtown Auckland. The shed underwent refurbishment to enable it to cater as a dry-hire space for events and to also double as a cruise terminal during the cruise season. Design challenges included the requirement to keep the building true to its heritage while upgrading it to make it useable. Kate had involvement with the project management during the design and tender phase and further involvement once the main contractor went into receivership. The change in contractor has an effect on the original completion dates which conflicted with a major event. Kate managed the process for getting the building into a habitable state so the event could still proceed.
=gallery :shed_ten, :template => 'gallery_half'

= section 'Kelly Tarlton’s'
%h3 Penguin encounter upgrade
%h4 <strong>Completion:</strong> September 2012
%h4 <strong>Client:</strong> Merlin Entertainment
%p Kelly Tartlon’s Sea Life Aquarium underwent a renovation to create a new penguin walk through experience. Kate had involvement, as an assistant project manager, during the construction phase. Kelly Tarlton’s remained open throughout construction. One of the major challenges of this project was dealing with live animals and their environment. The birds remained on display to the public for the whole duration of the project which included a move to a temporary enclosure while their permanent one was being fitted out.
=gallery :kelly_tarltons, :template => 'gallery_feature_half'

=section 'Wynyard Quarter'
%h3 Jellicoe Street
%a.sub_nav{:title => 'Jellicoe Street', :id => 'jellicoe_street'}
%h4 <strong>Completion:</strong> August 2011
%h4 <strong>Client:</strong> Waterfront Auckland
%p Jellicoe Street is a 400m long sculptured urban setting which is both pedestrian and car friendly. The tree lined street is home to the North Wharf restaurant buildings designed by Fearon Hay. One of the main features of this project was the rain gardens beside the road. These gardens catch the storm water and filter it before it goes out to sea. Kate had involvement Kate had involvement, as an assistant project manager, during the construction phase and close out phase of this project. The Jellicoe Precinct in Wynyard Quarter was constructed in time for the 2011 Rugby World Cup and continues to grow due to the success of the area. The construction phase saw over 7 different main contractors working side by side, many requiring entering another’s site just to get to their own.
=gallery :jellicoe_street,  :template => 'gallery_full'

%h3 Silo Park
%a.sub_nav{:title => 'Silo Park', :id => 'silo_park'}
%h4 <strong>Completion:</strong> August 2011
%h4 <strong>Client:</strong> Waterfront Auckland
%p Silo Park is a park sits down the western end of Jellicoe Street and is orientated with views towards the Auckland Harbour Bridge. It pays homage to the history of the area with the old Golden Bay cement silo being one of the main features. Kate had involvement, as an assistant project manager, during the construction phase of this project. This area is now the home of the very successful Silo Cinema and Silo Markets during the summer months which saw over 200,000 people visit the area for these events.
=gallery :silo_park,  :template => 'gallery_feature_half'

%h3 Karanga Plaza
%a.sub_nav{:title => 'Karanga Plaza', :id => 'karanga_plaza'}
%h4 <strong>Completion:</strong> August 2011
%h4 <strong>Client:</strong> Waterfront Auckland
%p Karanga Plaza is the gateway into the new developments in Wynyard Quarter when approaching from the newly constructed Wynyard Crossing which opens up this area to the Viaduct (one of the main social centres of downtown Auckland). It houses the Karanga Kiosk which is an information kiosk for the quarter. The plaza encourages interaction with the water. Kate had involvement, as an assistant project manager, during the construction phase and close out phase of this project.
=gallery :karanga_plaza, :template => 'gallery_feature_half'
